@import "tailwindcss";

/* Color variables for easy theming */
:root {
  --color-bg: #f9f9f9;
  --color-text: #616161;
  --color-title: #111827;

  --night-bg: #101010;
  --night-text: #a9a9a9;
  --night-title: #f9f9f9;

  --ica-bg: #ff007f;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: 'JosefinSans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-title);
}

.caption, .text-caption {
  color: var(--color-caption);
}

/* Existing Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font for title */
@font-face {
  font-family: 'LibreBodoni';
  src: url('/fonts/Libre_Bodoni/LibreBodoni-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Custom title class */
.title-font {
  font-family: 'LibreBodoni', serif;
  font-style: italic;
}

/* Custom font for navbar */
@font-face {
  font-family: 'JosefinSans';
  src: url('/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Custom navbar class */
.navbar-font {
  font-family: 'JosefinSans', sans-serif;
}
